html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  top: 10%;
  left: 10%;
}

.polaroid > img {
  display: block;
  width: 100%;

  position: relative;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;

}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;

  position: absolute;
  bottom: 15px;
  right: 80px;

}

.polaroid:nth-child(1) {/*Hadrosaur*/
  transform: rotate(-10deg) translate(111px, 100px);
  z-index: 1;
  position: absolute;

}

.polaroid:nth-child(2) {/*Pteronodon*/
  transform: rotate(5deg) translate(200px, 115px);
  z-index: 300;
  position: absolute;

}

.polaroid:nth-child(3) {/*Stegosaurus*/
  transform: rotate(25deg) translate(280px, -40px);
  z-index: 1;
  position: absolute;

}

.polaroid:hover {
  z-index: 100;
  transform: rotate(0deg) transition: all 500ms linear;;

}

@keyframes pulse {

  0% {
    opacity: .2;
    transform: scale(.7) rotate(45deg);

  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(45deg);
  }

}